<br><br><br><br>
<ion-fab vertical="top" horizontal="start" slot="fixed" *ngIf="!showSplash">
  <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>					
  <ion-fab-list side="end">
          <ion-fab-button  id="idioma-esp" (mousedown)="irAInicio()">
              <ion-icon name="home"></ion-icon>          
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="irACosasFeasList()" >
              <ion-icon name="sad"></ion-icon>
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="irACosasLindasList()" >
            <ion-icon name="happy"></ion-icon>
        </ion-fab-button>	
          <ion-fab-button  id="idioma-esp" (mousedown)="irAFotosMiasList()" >
              <ion-icon name="person"></ion-icon>
          </ion-fab-button>	      
  </ion-fab-list>
</ion-fab>

<div class="grid-container">
  <!-- <div class="flex-container">
      <button class="btn-list" (click)="abrirCamara()">
        <span class="icon">
          <img class="img-camara" src="./assets/images/camara-de-fotos.svg" alt="">  
        </span>
      </button> 
  </div> -->
  <ion-card>
      <button style="background-color: transparent;    margin-top: inherit;" (click)="abrirCamara()">
           <img src={{this.foto}}>
      </button>
    <ion-card-content>
      <ion-card-title style="margin-left: 45%;">
       Tu Foto
       </ion-card-title>
      <p style="margin-left: 30%;  color: #000000ad;">
        Esta foto es acerca de algo que  te ha gustado
      </p>
    </ion-card-content>
  </ion-card>

  <div>   
    <button class="btn-list-ok" (click)="guardarFoto()"><ion-icon md="md-checkmark-circle"></ion-icon></button>  
    <button class="btn-list-cancel2" (click)="irAInicio()"><ion-icon md="md-close-circle"></ion-icon></button>  
  </div>   
</div> 
<!-- <ion-footer style="margin-left: 26%;margin-top: 30%;">

    <button class="btn-list-menu "  (click)="irAInicio()"        ><ion-icon name="home"></ion-icon></button>  
    <button class="btn-list-menu "  (click)="irACosasFeasList()" ><ion-icon name="sad"></ion-icon></button> 
    <button class="btn-list-menu "  (click)="irACosasLindasList()" ><ion-icon name="happy"></ion-icon></button>  
    <button class="btn-list-menu "  (click)="irAFotosMiasList()" ><ion-icon name="person"></ion-icon></button>

</ion-footer> -->




