
<div *ngIf="!mostrar" class="">
  <!-- <div id="card__home" class="card">
      <div id="card-content"> -->
        <!-- <div id="card-title"> -->
          <!-- <h2>BIENVENIDO</h2> -->
          <!-- <div class="underline-title underline-home"></div> -->
        <!-- </div> -->
      <!-- </div> -->
  <!-- </div> -->
  <!-- <div  class="grid-container-home" class="body">
    <ion-button id="cosas_lindas"  (click)="listarLindas()" expand="block"> <span class="icon">
      <img class="img-lindo" src="./assets/images/ok.png" alt=""> </span>
    </ion-button>
    <ion-button id="cosas_feas"  (click)="listarFeas()" expand="block"> <span class="icon">
      <img class="img-lindo" src="./assets/images/no.png" alt=""> </span>
    </ion-button> -->
      <!-- <button id="cosas_lindas" class="btn-home" (click)="listarLindas()">
        <span class="icon">
          <img class="img-lindo" src="./assets/images/ok.png" alt="">  
        </span>
        <p>
          COSAS LINDAS
        </p>
      </button> -->
      
      <!-- <button id="cosas_feas" class="btn-home" (click)="listarFeas()">
        <span class="icon">
          <img class="img-lindo" src="./assets/images/no.png" alt="">  
        </span>
        <p>
          COSAS FEAS
        </p>
      </button> -->
    
      <!--input id="cosas_lindas" type="button" value="COSAS LINDAS">
      <input id="cosas_feas" type="button" value="COSAS FEAS"-->
   <!-- angry/happy(grin, laugh) -->

  <!-- </div>-->
</div>

<!-- <div *ngIf="mostrar" class="">
  <app-list></app-list> 
</div> -->


<ion-content>
  <ion-grid fixed>
     <ion-row>
       <ion-col
       size="12" size-md="8" size-sm="12" size-xs="6" ng-reflect-size="12" size-lg="6" >
       <ion-button id="cosas_lindas"  (click)="irACosasLindas()" expand="block"> <span class="icon">
          <img class="img-lindo" src="./assets/images/ok.png" alt=""> </span>
        </ion-button>
       </ion-col>
       <ion-col
       size="12" size-md="8" size-sm="12" size-xs="6" ng-reflect-size="12" size-lg="6">
       <ion-button id="cosas_lindas"  (click)="irACosasFeas()" expand="block"> <span class="icon">
          <img class="img-lindo" src="./assets/images/no.png" alt=""> </span>
        </ion-button>
       </ion-col>
       
     </ion-row>
  </ion-grid>
</ion-content>