.img-camara{
	height: 30px;
}

.grid-container {
  display: grid;
  padding-top: 10%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  grid-template-areas: "." ".";
}

.btn-list{
	margin: 20px;
  width: 140px !important;
}
.btn-list-cosas{
	margin: 20px;
  width: 140px !important;
}
.btn-list-ok{
  margin-left: 11%;
  width: 140px !important;
  background-color: #000000;
  color: #0ff300;
  height: 65px;
  font-size: xx-large;
  margin-top: 10%;
  border-radius: 10px;
}
.btn-list-menu{
  margin-left: -20%;
  margin-right: 16%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: -41%;
  width: 100px !important;
  background-color: #f4f4f4;
  color: #000000;
  height: 50px;
  font-size: xx-large;
}
.btn-list-cancel2{
  margin-left: 11%;
  width: 140px !important;
  background-color: rgba(0, 0, 0, 0.897);
  color: rgb(255, 0, 0);
  height: 65px;
  font-size: xx-large;
  margin-top: 10%;
  border-radius: 10px;
}

.flex-container{
	display: flex;
	justify-content: center;
	grid-row: 1;
}

img{
  width: 70%;
  height: 50%;
  margin-left: 15%;

}

.micard{
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  background-color: #f19f25e8;
}

.img-list{
	grid-row: 2;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  margin-bottom: 10px;
}

.btn-voto{
	height: 38px !important;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". Descripcion";
}

.Descripcion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "." "." ".";
  grid-area: Descripcion;
}

//spinner
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
//fin spinner

.ocultar { 
	display: none; 
}

.contenido{
  margin: 25px 10px 25px 10px;
}

.photo{
  margin-right: 10px;
}

.scroll{
  height: 420px;
  overflow-y: scroll;
}

.ul-photo{
  padding: 0;
}

