.micard{
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    background-color: #adff2f8a;
  }

  .btn-list-ok{
    margin-left: 37%;
    width: 90px !important;
    background-color: #e4cb66;
    color: #000000;
    height: 65px;
    font-size: x-large;
    margin-top: 10%;
    border-radius: 10px;
  }

  .btn-list-ant{
    margin-left: 20%;
    background-color: #41360c00;
    color: #000000;
    font-size: xx-large;
    padding-top: -10px;
 
  }
  .btn-list-sig{
    margin-left: 33%;
    width: 60px !important;
    background-color: #41360c00;
    color: #000000; 
    font-size: xx-large;
    margin-top: 10%;   
  }