<br><br><br><br>
<ion-fab vertical="top" horizontal="start" slot="fixed" *ngIf="!showSplash">
  <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>					
  <ion-fab-list side="end">
          <ion-fab-button  id="idioma-esp" (mousedown)="irAInicio()">
              <ion-icon name="home"></ion-icon>          
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="irACosasFeasList()" >
              <ion-icon name="sad"></ion-icon>
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="irAFotosMiasList()" >
              <ion-icon name="person"></ion-icon>
          </ion-fab-button>	      
          <ion-fab-button  id="idioma-esp" (mousedown)="salir()" >
            <ion-icon name="log-out"></ion-icon>
          </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<div class="grid-container">
<ion-card class="micard">
  <!-- <p>x:{{this.x}}</p>
  <p>y:{{this.y}}</p>
  <p>z:{{this.z}}</p> -->
  <button  style="background-color: transparent;
  margin-top: inherit;" >
       <img style="height: 380px;" src={{this.fotoActual.img}}>
  </button>
<ion-card-content style="color: black;font-family: monospace;">
  <p>{{this.fotoActual.email}} - Votos: {{this.fotoActual.votos}} - Nro: {{this.fotoActual.nrofoto}}</p>
</ion-card-content>
</ion-card>
<div style="margin-top: -20px;">
    <button class="btn-list-ant" (click)="anterior(this.fotoActual)"><ion-icon name="arrow-dropleft-circle"></ion-icon></button> 
    <button class="btn-list-sig" (click)="siguiente(this.fotoActual)"><ion-icon name="arrow-dropright-circle"></ion-icon></button> 
    <button class="btn-list-ok" (click)="votar(this.fotoActual)">voto +1</button>  
</div>   
</div>










<!-- <ion-content>
    <ion-virtual-scroll [items]="fotosLindas" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;">
        <div>
          <ion-img src={{item.img}}   style="max-width: 50%;" alt=""></ion-img>
        </div>
      <ion-card-header>
        <ion-card-title>{{ item.email }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.votos }}</ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </ion-content> -->

<!-- <div class="scroll" style="margin-left: 20%;">
  <ul class="ul-photo">
    <div class="spinner" [ngClass]="{'ocultar':!spinner}"></div>
    <li class="img-list" *ngFor="let item of fotosLindas">       
        <img style="max-width: 50%;" src={{item.img}} alt="foto" class="img-thumbnail photo"> 
        <div class="contenido">            
            <p class="text-right">{{item.email}}</p>
            <p class="text-center">Votos: {{item.votos}}</p>
            <button type="button" (click)="votar(item)" class="btn btn-primary btn-voto btn-block">Votar</button>
        </div>
    </li>
  </ul>
</div> -->
<!-- <ion-list  *ngFor="let item of fotosLindas">
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <p class="text-right">{{item.email}} : {{item.votos}} votos</p>
      </ion-label>
      <img src={{item.img}} style="max-width: 30%;"  class="img-thumbnail photo"> 
    </ion-item>    
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <p class="text-right">{{item.email}} : {{item.votos}} votos</p>
      </ion-label>
      <img src={{item.img}} style="max-width: 30%;"  class="img-thumbnail photo"> 
    </ion-item>    
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <p class="text-right">{{item.email}} : {{item.votos}} votos</p>
      </ion-label>
      <img src={{item.img}} style="max-width: 30%;"  class="img-thumbnail photo"> 
    </ion-item>    
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <p class="text-right">{{item.email}} : {{item.votos}} votos</p>
      </ion-label>
      <img src={{item.img}} style="max-width: 30%;"  class="img-thumbnail photo"> 
    </ion-item>    
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <p class="text-right">{{item.email}} : {{item.votos}} votos</p>
      </ion-label>
      <img src={{item.img}} style="max-width: 30%;"  class="img-thumbnail photo"> 
    </ion-item>    
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <p class="text-right">{{item.email}} : {{item.votos}} votos</p>
      </ion-label>
      <img src={{item.img}} style="max-width: 30%;"  class="img-thumbnail photo"> 
    </ion-item>    
  </ion-item-sliding>

 
</ion-list> -->