<button class="btn-list-cancel2 "  (click)="obtenerFotosMias()" >MisFotos</button>  
<div class="scroll">
  <ul class="ul-photo">
    <div class="spinner" [ngClass]="{'ocultar':!spinner}">
    </div>
    <li class="img-list" *ngFor="let item of fotosMias">
       
          <img style="max-width: 30%;" src={{item.img}} alt="foto" class="img-thumbnail photo"> 

          <div class="contenido">            
            <p class="text-right">{{item.email}}</p>
            <p class="text-center">Votos: {{item.votos}}</p>
            <button type="button" (click)="votar(item)" class="btn btn-primary btn-voto btn-block">Votar</button>

          </div>
    </li>
  </ul>
</div>

<ion-fab vertical="center" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="bottom">
    <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
<!-- <ion-row>
  <ion-col align-self-start>
    ion-col [start]
  </ion-col>
  <ion-col align-self-center>
    ion-col [center]
  </ion-col>
  <ion-col align-self-end>
    ion-col [end]
  </ion-col>
  <ion-col>
    ion-col
    <br>#
    <br>#
  </ion-col>
</ion-row>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="irAInicio()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
     </ion-tab-button>

    <ion-tab-button (click)="irACosasLindas()">
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>Cosas Lindas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irACosasFeas()">
      <ion-icon name="thumbs-down"></ion-icon>
      <ion-label>Cosas Feas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="salir()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->