<br><br><br><br>
<ion-fab vertical="top" horizontal="start" slot="fixed" *ngIf="!showSplash">
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>					
    <ion-fab-list side="end">
            <ion-fab-button  id="idioma-esp" (mousedown)="irAInicio()">
                <ion-icon name="home"></ion-icon>          
            </ion-fab-button>
            <ion-fab-button  id="idioma-esp" (mousedown)="irACosasLindasList()" >
                <ion-icon name="happy"></ion-icon>
            </ion-fab-button>
            <ion-fab-button  id="idioma-esp" (mousedown)="irACosasFeasList()" >
                <ion-icon name="sad"></ion-icon>
            </ion-fab-button>	  
            <ion-fab-button  id="idioma-esp" (mousedown)="salir()" >
              <ion-icon name="log-out"></ion-icon>
            </ion-fab-button>      
    </ion-fab-list>
</ion-fab>
<div class="scroll">
  <ul class="ul-photo">
    <div class="spinner" [ngClass]="{'ocultar':!spinner}"></div>
    <li class="img-list" *ngFor="let item of fotosLindas">      
          <img style="max-width: 30%;" src={{item.img}} alt="foto" class="img-thumbnail photo"> 
          <div class="contenido">            
            <p class="text-right">{{item.email}}</p>
            <p class="text-center">Votos: {{item.votos}}</p>
            <button type="button" (click)="votar(item)" class="btn btn-primary btn-voto btn-block">Votar</button>
          </div>
    </li>
    <li class="img-list" *ngFor="let item of fotosFeas">      
      <img style="max-width: 30%;" src={{item.img}} alt="foto" class="img-thumbnail photo"> 
      <div class="contenido">            
        <p class="text-right">{{item.email}}</p>
        <p class="text-center">Votos: {{item.votos}}</p>
        <button type="button" (click)="votar(item)" class="btn btn-primary btn-voto btn-block">Votar</button>
      </div>
</li>
  </ul>
</div>



<!-- 
<ion-list *ngFor="let item of fotosMias">
  <ion-item-sliding>
    <ion-item>
      <ion-label><p class="text-right">{{item.email}}</p>
        <p class="text-center">Votos: {{item.votos}}</p></ion-label>
    </ion-item>
    <ion-item-options side="end">
      <img style="max-width: 30%;" src={{item.img}} alt="foto" class="img-thumbnail photo"> 
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list> -->