.btn-list-cancel2{
    // margin: 20px;
    margin-left: 5%;
    width: 140px !important;
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(255, 0, 0);
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
  }

  .btn-list{
	margin: 20px;
  width: 140px !important;
}