<br><br><br><br>
<ion-fab vertical="top" horizontal="start" slot="fixed" *ngIf="!showSplash">
  <ion-fab-button>
          <ion-icon name="add"></ion-icon>
  </ion-fab-button>					
  <ion-fab-list side="end">
          <ion-fab-button  id="idioma-esp" (mousedown)="irAInicio()">
              <ion-icon name="home"></ion-icon>          
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="irACosasLindasList()" >
              <ion-icon name="happy"></ion-icon>
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="irAFotosMiasList()" >
              <ion-icon name="person"></ion-icon>
          </ion-fab-button>	
          <ion-fab-button  id="idioma-esp" (mousedown)="salir()" >
            <ion-icon name="log-out"></ion-icon>
          </ion-fab-button>      
  </ion-fab-list>
</ion-fab>
<div class="grid-container">
  <ion-card class="micard">
    <button  style="background-color: transparent; margin-top: inherit;" >
         <img src={{this.fotoActual.img}}>
    </button>
    <ion-card-content style="color: black;font-family: monospace;">
        <p>{{this.fotoActual.email}} - Votos: {{this.fotoActual.votos}} - Nro: {{this.fotoActual.nrofoto}}</p>
    </ion-card-content>
  </ion-card>
  <div>   
    <button class="btn-list-ok" (click)="votar(this.fotoActual)">voto +1</button>  
  </div>   
  </div>


