<ion-content>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-text-right"><ion-icon name="refresh" (click)="getAllImages()" class="refresh"></ion-icon></ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-slides [options]="slideOpts" #slides [pager]="true">
      <ion-slide *ngFor="let image of listaImagenes">
        <ion-card>
            <ion-card-header>
              <ion-card-title>
                <span>Subida por: {{image.email}} - Votos: {{image.votos}}</span>
                <br>
                <ion-label for="fecha" class="label" position="floating">Fecha y Hora</ion-label>
                <ion-datetime [(ngModel)]="image.date" name="fecha" displayFormat="D MMM HH:mm"
                  hourValues="08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,00,01"
                   minuteValues="0,15,30,45" required></ion-datetime>
                <!-- <span>Fecha: {{image.date | date:'dd-MM-yyyy'}}</span>             -->
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img src={{image.img}}>
            </ion-card-content>
          </ion-card>
      </ion-slide>
    </ion-slides>
    
    <ion-item *ngIf="images?.length==0">
        No hay imagenes subidas
      </ion-item>
  </ion-content>