<ion-fab vertical="top" horizontal="start" slot="fixed" *ngIf="!showSplash">
  <ion-fab-button>
          <ion-icon name="add"></ion-icon>
  </ion-fab-button>					
  <ion-fab-list side="buttom">
          <ion-fab-button  id="idioma-esp" (mousedown)="rellenarAdmin()">
               Admin
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="rellenarInvitado()" >
                Invitado
          </ion-fab-button>
          <ion-fab-button  id="idioma-esp" (mousedown)="rellenarUsuario()" >
                 Usuario
          </ion-fab-button>	
          <ion-fab-button  id="idioma-esp" (mousedown)="rellenarAnonimo()" >
                 Anonimo
          </ion-fab-button>	
          <ion-fab-button  id="idioma-esp" (mousedown)="rellenarTester()" >
                 Tester
          </ion-fab-button>		
  </ion-fab-list>
</ion-fab>

<div id="" class="card">
    <div id="card-content">
      <div id="card-title">
        <h3>Ingreso</h3>
        <div class="underline-title underline-login"></div>
      </div>

      <form class="form" [formGroup]="formulario">
          <label for="user-email" style="padding-top:13px">
              &nbsp;Correo Electronico
          </label>
          <input formControlName="email" class="form-content" type="email" name="email" required />
          
          <div class="form-border"></div>
          <div class="alerta" *ngIf="!formulario.controls['email'].valid && formulario.controls['email'].touched">
            Este campo es requerido
          </div>
          
          <label for="user-password" style="padding-top:22px">&nbsp;Clave
            </label>
          <input formControlName="clave" class="form-content" type="password" name="clave" required />
          <div class="form-border"></div>
          <div class="alerta" *ngIf="!formulario.controls['clave'].valid && formulario.controls['clave'].touched">
            Este campo es requerido
          </div>

          

          <input id="submit-btn" [disabled]="!formulario.valid" (click)="onSubmitLogin(formulario.value)" type="submit" value="ACCEDER" /> 
     
    
          
      </form>
    </div>
  </div>

  <router-outlet></router-outlet>

  