<ion-content>
        <ion-header>
                <ion-toolbar color="tituloLindas">
                  <ion-title style="color: rgb(248, 221, 247);
                                    text-transform: uppercase;
                                    text-align: center;">
                    Fotos Lindas</ion-title>
                </ion-toolbar>
        </ion-header>
    <div class="backgroundCamera">
        <div class="backgroundFilter">
            <app-camera></app-camera>
        </div>
    </div>
</ion-content>